<footer class="container-fluid pie text-white pt-4">
      <div class="container-fluid text-center">
        <div class="futer">
          <div class="row">
            <div class="col">
              <p><small>Preguntas frecuentes</small></p>
            </div>
            <div class="col">
              <p><small>Contáctanos</small></p>
            </div>
            <div class="col">
              <p><small>Prensa</small></p>
            </div>
            <div class="col">
              <p><small>Conferencias</small></p>
            </div>
            <div class="col">
              <p><small>Términos y condiciones</small></p>
            </div>
            <div class="col">
              <p><small>Privacidad</small></p>
            </div>
            <div class="col">
              <p><small>Estudiantes</small></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
