<nav
      class="navbar navbar-expand-lg navbar-light px-5 pb-3"
      style="background-color: #353a40"
    >
      <div class="container-fluid">
        <img src="img/codoacodo.png" width="90em" alt="Logo de Codo a Codo" />
        <a class="navbar-brand text-white" href="#">Conf Bs As</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" href="#"
              >La conferencia</a
            >
            <a class="nav-link text-white-50" href="#">Los oradores</a>
            <a class="nav-link text-white-50" href="#">El lugar y la fecha</a>
            <a class="nav-link text-white-50" href="#">Conviértete en orador</a>
            <a class="nav-link text-success" href="#">Comprar tickets</a>
          </div>
        </div>
      </div>
    </nav>