<div class="container-fluid text-center" px-5 style="width: 65%">
      <p class="text-uppercase pt-2 mb-0">
        <small>conviértete en un</small>
      </p>
      <p class="h1 text-uppercase">orador</p>
      <p>
        Anótate como orador para dar una
        <abbr title="attribute">charla ignite</abbr>. Cuéntanos de qué quieres
        hablar!
      </p>
      <div class="row g-2">
        <div class="col-md">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="inputNombre"
              placeholder="Nombre"
            />
          </div>
        </div>
        <div class="col-md">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="inputApellido"
              placeholder="Apellido"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Sobre qué quieres hablar?"
        ></textarea>
        <p class="form-text alineadoIzq">
          <small>Recuerda incluir un título para tu charla</small>
        </p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary botonEnviar" type="button">
          Enviar
        </button>
      </div>
    </div>
    <br />
